* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}
.marquee {
  height: 150px;
}

.marqueeContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.brandLogo {
  width: 24%;
}

.brandLogo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 30%;
  object-fit: contain;
}

.filtered {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
}

/*ORTA KONTENT*/

.mainContent {
  width: 80%;
  margin: auto;
  height: auto;
  text-align: justify;
}

.articleName {
  text-align: center;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}

.articleImage {
  width: 300px;
  margin: 10px;
}
.articleVideo {
  width: 300px;
  margin: 10px;
}

@media (max-width: 900px) {
  .brandLogo img {
    max-width: 70%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
